@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

p {
    color: #fff;
}

hr {
    margin-top: 8px;
    height: 3px;
    border: none;
    border-radius: 5px;
    background: #3d4047;
}

header {
    padding-top: 25px;
}

header nav.other__profile__nav {
    float: right;
    width: 25%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    z-index: 2;
    position: relative;
}

header nav ul.other__menu li a::after {
    content: "";
    display: block;
    height: 5px;
    width: 50%;
    border-radius: 10px;
    background: #ad1010;
    position: relative;
    left: 15px;
    top: 5px;
}

header nav ul.other__menu li a:hover::after {
    background: #f04848;
}

header nav ul li a:hover::after {
    background: #f04848;
    transition: all 600ms ease;
    transform: scale(1.1);
}

header nav ul li {
    display: inline-block;
    padding-right: 15px;
}

header nav ul li a {
    color: #fff;
}

header .logo--name {
    padding-left: 15px;
    text-transform: uppercase;
    padding-top: 10px;
    font-size: 22px;
    color: #ffffff;
}

.wrapper {
    background: #232529;
    min-height: 834px;
    width: 100%;
    height: 100%;
}

.main__container__profile {
    display: flex;
}

.web--info {
    width: 100%;
    height: 100%;
    margin: 35px;
}

.profile__content {
    margin-top: 30px;
    margin-left: 320px;
}

.profile__info {
    width: 80%;
    height: 160px;
    background-color: #8a8a8a;
    border-radius: 16px;
    border: 1px solid #8a8a8a;
    box-shadow: 3px 3px 6px rgba(0.1, 0, 0, 0.1);
}

.profile__main {
    display: flex;
}

.profile__main nav {
    margin-right: 120px;
    height: 110px;
}

.profile__main nav ul {
    list-style: none;
    padding: 10px;
    font-size: 16px;
}

.profile__main nav ul li {
    padding-top: 5px;
    font-size: 15px;
}

.profile__img {
    width: 80px;
    height: 80px;
    padding: 10px;
}

.profile__info__other {
    margin-top: 32px;
    width: 80%;
    height: 500px;
    background-color: #8a8a8a;
    border-radius: 16px;
    border: 1px solid #8a8a8a;
    box-shadow: 4px 4px 8px rgba(0.1, 0, 0, 0.2);
}

.about_me--info {
    display: block;
    margin: 15px;
    font-size: 15px;
}

.p__about__me {
    margin-top: 10px;
}